<mat-toolbar class="navbar" color="primary"> 
<div> Realogy Title Group - Help Desk System</div>
<div>
  <span>
    <mat-icon matListIcon> home </mat-icon> 
    Home 
  </span>
  <span> 
    About 
</span>
  <span> FAQ </span>
 </div>
 </mat-toolbar>  

 <div class="mat-typography">
  <h1> Resource Access Request (RAR) </h1>
 </div>
<div>
<span>
  <mat-form-field floatLabel="auto" appearance="outline" color="primary">
    <mat-label> Requester Id </mat-label>
    <input type="text" matInput required [formControl]="myControl" />
    <mat-hint align="end"> Enter ID</mat-hint>
    </mat-form-field>
</span>
</div>

